/* General App styling */
.App {
  text-align: center;
}

/* Full viewport height and width */
body, html {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide scrollbars */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

/* Centering the cube */
#xyz-plane {
  width: 90vw; /* 90% of the viewport width */
  height: 90vh; /* 90% of the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SVG element styling for better scaling */
#xyz-plane svg {
  max-width: 100%;
  max-height: 100%;
}
